
@charset "UTF-8";

.canvas {
	padding: 20px;
	width: 900px;
	height: 700px;
	position: relative;
	display:flex;
	justify-content:center;
}

.target {
	position: fixed;
	top: 10px;
	left: 85px;
	width: 900px;
	height: 700px;
	z-index: 255;
}

#timer1{/*高加減*/
    position: absolute;
    top: 50px;
    left: 50px;
    width: 30px;
    height: 400px;
    background-color: #9400d3;
    margin-top: 70px;
    border-radius: 10px;
    -webkit-transition: height 10.0s linear 0.5s; /* ←今回の実装のミソ */
}
.START1 { /*高加減*/
    font-size:1.4em;
    font-weight: bold;
    padding: 10px 30px;
    margin-left:0px;
    margin-top:430px;
	background-color: #000000;
    color: 	#00ff00;
    border-style: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;

}
.STOP1 { /*高加減*/
    font-size:1.4em;
    font-weight: bold;
    padding: 10px 30px;
    margin:0px;
    margin-top:10px;
    background-color: #000000;
    color: 	#ff00ff;
    border-style: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
}
#timer2{ /*力加減*/
    position: absolute;
    left: 120px;
    width: 630px;
    height: 30px;
    background-color: #9400d3;
    margin-top: 30px;
    border-radius: 10px;
    -webkit-transition: width 10.0s linear 0.5s; /* ←今回の実装のミソ */
}
.START2 { /*力加減*/
    font-size:1.4em;
    font-weight: bold;
    padding: 10px 30px;
    margin-left:670px;
    background-color: #000000;
    color: 	#00ff00;
    border-style: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
}
.STOP2 { /*力加減*/
    font-size:1.4em;
    font-weight: bold;
    padding: 10px 30px;
    margin-left:670px;
    margin-top:10px;
    background-color: #000000;
    color: 	#ff00ff;
    border-radius: 10px;
    border-style: none;
    width: 200px;
    height: 50px;

}

.button{
  /*position: ;*/
  display: flex;
  font-size: 20px;
  /* align-items: center;
  justify-content: center; */
  float: left;
}

.POI{
	position:absolute;
	bottom:80px;
	right:50px;
}

.POI input{
  display:block;
  border-radius: 10px;
  color: #ffff00;
  font-size:3em;
  font-weight: bold;
  background-color: #000000;
  width: 500px;
  height: 70px;
  border-style: none;

}

.target > p {
	position: fixed;
	top: 180px;
	width: 900px;
	margin: 0px;
	text-align: center;
	font-size: 80px;
	font-weight: bold;
	background-color: rgba(65, 105, 225, 0.8);
}

.target > img {
	width: 900px;
	height: 700px;
}

.hidden {
	display: none;
}