@charset "utf-8";

#gameWindow {
	background-image: url("15PuzzleTexture/BackGround.png");
	position: absolute;
	left: 0px;
	right: 0px;
	margin: 50px auto;
	width: 350px;
	height: 600px;
	font-family: "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", "Osaka-mono", "monospace";
}

a[href="15puzzleGameSite.html"] {
	background-image: url("15PuzzleTexture/RestartButton.png");
	position: absolute;
	top: 30px;
	right: 30px;
	wight: 41px;
	height: 41px;
	z-index: 1;
}

#gameWindow > #frontWindow {
	position: absolute;
	top: 250px;
	left: 80px;
	width: 200px;
	height: 180px;
	z-index: 1;
}

#gameWindow > #levelText {
	position: absolute;
	width: auto;
	top: 5px;
	left: 165px;
	font-weight: bold;
}

#gameWindow > #timeText {
	position: absolute;
	top: 60px;
	left: 185px;
	font-weight: bold;
}

#gameWindow > #countText {
	position: absolute;
	top: 115px;
	left: 240px;
	font-weight: bold;
}

#gameWindow > #stage {
	position: absolute;
	top: 200px;
	left: 35px;
}

a[href="15puzzleTopSite.jsp"] {
	position: absolute;
	top: 700px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
}