@charset "UTF-8";

body {
	background-color: #DDDDDD;
}

header {
  width: 100%;
  height: 60px;
  text-align: center;
  padding: 10px 10px;
  background-color: #FFFFFF;
}

.container {
	margin-top: 10px;
	text-align: center;
}

.start, .stop, .reset {
	width: 180px;
	height: 50px;
	border: none;
	border-radius: 6px;
	background-color: white;
	font-size: 16px;
}

.timer {
	margin: 50px 0px;
	color: white;
}

h1,h2 {
	display: block;
	font-size: 20px;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	font-family: 'Berkshire Swash', cursive;
	color: midnightblue;
}

footer {
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 10px 10px;
  background-color: #FFFFFF;
}

.footer-text {
  color: #fff;
}