html {
     touch-action: manipulation;
 }

.cat {
  background-image: url(TetrisTexture/cat.png);
  background-repeat:repeat;
  position:fixed;
  width: 100%;
  height: 100%;
  z-index:-1;
  opacity:0.5;
}

span {
  color: #ff80ff;
  font-size:20px;
}

 .wrapper-container {
     display: inline-block;
 }

 .tetris-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    background-color: #333333;
}

 .tetris-panel-container {
     display: flex;
     padding-left: 10px;
     padding-right: 10px;
     flex-direction: column;
     color: white;
     background-color: #333333;
 }

 .tetris-panel-container-padding {
     flex-grow: 1;
 }

 .tetris-panel-container p {
    margin: 0;
    padding: 0;
 }

 .tetris-button-panel {
     border-style: none;
     width: 100%;
 }

 .tetris-button {
     padding-top: 10px;
     padding-bottom: 10px;
     text-align: center;
     background: #444444;
 }

